<!-- Loop over each object in the posts array -->
{{#each posts as |posts| }}
<div class="row mb-4 posts">
  <div class="col-md-6">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
      
      {{!-- {{{title}}} --}}
     
      <a href="/posts/{{posts.id}}" class="previous-headers">{{posts.title}}</a>
    </h2>
   
    <p>Created by {{posts.user.name}} on {{format_date posts.date_created}}</p>
  </div>
  <div class="col-md-6">
    <p>
      {{posts.description}}
    </p>
  </div>
</div>
{{/each}}
